{
  "pools": {
    "A": {
      "servers": "$SERVERS",
      "server_timeout": 200
    }
  },
  "route": {
    "type": "PoolRoute",
    "pool": "A",
    "hash": {
      "hash_func": "Ch3"
    }
  }
}
